[Desktop Entry]
Version=0.0.1
Encoding=UTF-8
Categories=Utility
Exec=com-sebastienrousseau-password-generator-pro
Icon=com-sebastienrousseau-password-generator-pro
Name=Password Generator
Name[fr_FR]=Password Generator
StartupNotify=true
Terminal=false
Type=Application